* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #f6f7fb;
  color: #222;
}

/* NAVBAR */
.navbar {
  background: #2d3250;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  margin-left: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(#2d3250, #424769);
  color: white;
}

.hero h1 {
  font-size: 45px;
}

.btn {
  padding: 12px 25px;
  background: #f8b500;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: #ffcf48;
}

/* EVENTS */
.events-section {
  padding: 50px;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
}

.event-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.event-card:hover {
  transform: scale(1.05);
}

/* POPUP */
.popup {
  display: none;
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.6);
  justify-content:center;
  align-items:center;
}

.popup-content {
  background:white;
  padding:30px;
  width:350px;
  border-radius:10px;
  position:relative;
}

.popup-content input {
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:6px;
}

/* TABLE */
.table-box {
  width:90%;
  margin:25px auto;
}

table {
  width:100%;
  background:white;
  border-radius:12px;
  text-align:center;
}

th {
  background:#2d3250;
  color:white;
  padding:12px;
}

td {
  padding:12px;
  border-bottom:1px solid #eee;
}

/* ADMIN LOGIN */
.login-box {
  width:350px;
  margin:100px auto;
  background:white;
  padding:25px;
  border-radius:12px;
  box-shadow:0 4px 20px rgba(0,0,0,0.15);
}
.login-box input {
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #aaa;
}
